.App {
  background: #f2f2f2;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.post-list {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.post {
  background: White;

  margin: 1em 1em 0 1em;
  border-radius: 0.5em;
  padding: 1em;
  width: 40%;

  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.1);

  font-family: roboto;
}

.post-title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0.5rem;
}

.post-description {
  color: #202020;
  margin-bottom: 0.5em;
}

.post-date {
  text-align: right;
  color: #8b8b8b;
}

.post:last-child {
  margin-bottom: 0.5em;
}